:root {
    --bs-primary: #FF6000;
    --bs-primaryclick: #b84700;
}


.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--bs-primaryclick) !important;
    border-color: var(--bs-primaryclick) !important;
}

.btn-outline-primary {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.bg-color {
    background-color: #FFEFE6;
}

.h-heading {
    font-size: 3.2rem;
    font-family: "Lexend";
    font-weight: 700;
    line-height: 1.1;
}

.h-color {
    color: var(--bs-primary);
}


@media(max-width:992px) {
    .h-heading {
        font-size: 2.3rem;
        text-align: center;
        padding-top: 2rem;
    }

    
}


@media(max-width:578px) {
    .h-heading {
        font-size: 2rem;
        text-align: center;
        padding-top: 2rem;
        background-image: linear-gradient();
    }
}



